<div id="sign-in" class="form-container">

<form action="<%= session_url %>" method="POST" role="form">
<h3>sign in</h3>

<input type="hidden"
name="authenticity_token"
value="<%= form_authenticity_token%>">
	
<div class="form-group">
	<input type="text" 
	name="user[username]" 
	placeholder="team username" 
	class="form-control">
</div>

<div class="form-group">
	<input type="password" name="user[password]" placeholder="password" class="form-control">
</div>

<button type="submit" class="btn btn-sm btn-default">sign in</button>
<br><br>

</form>

</div>

<div id="demo" class="form-container">
	<div class="row">
	<div class="col-sm-4">
	    <form role="form"
	      action="<%= session_url %>"
	      method="post">
	      <input type="hidden"
			name="authenticity_token"
			value="<%= form_authenticity_token%>">
	      
	      <input type="hidden"
	        name="user[username]"
	        class="form-control"
	        value="business">

	       <input type="hidden"
	        name="user[password]"
	        class="form-control"
	        value="business">

	      <div class="form-group">
	        <input type="submit"
	          class="btn btn-sm btn-default"
	          value="business demo">
	      </div>
	    </form>
	</div>

    <form role="form"
      action="<%= session_url %>"
      method="post">
      <input type="hidden"
		name="authenticity_token"
		value="<%= form_authenticity_token%>">
      
      <input type="hidden"
        name="user[username]"
        class="form-control"
        value="school">

       <input type="hidden"
        name="user[password]"
        class="form-control"
        value="school">
        
      <div class="form-group">
        <input type="submit"
          class="btn btn-sm btn-default"
          value="school demo">
      </div>
    </form>

    <form role="form"
      action="<%= session_url %>"
      method="post">
      <input type="hidden"
		name="authenticity_token"
		value="<%= form_authenticity_token%>">
      
      <input type="hidden"
        name="user[username]"
        class="form-control"
        value="personal">

       <input type="hidden"
        name="user[password]"
        class="form-control"
        value="personal">
        
      <div class="form-group">
        <input type="submit"
          class="btn btn-sm btn-default"
          value="personal demo">
      </div>
</div>

