<br>
<li class="task">
	<strong><%= task.escape("title") %></strong><br>
	<a href="#/projects/<%=task.escape("project_id")%>"><%= task.escape("project_title") %></a> - <%= task.escape("phase_title") %>
	<br>
	status - <%= task.escape("status") %>
	<br>

	<div id="task-edit"></div>
</li>