<div class="member-task">
<br>
	<% if (task.get("status") == "Complete") { %>
		<span class="glyphicon glyphicon-pushpin"></span> <strike><strong><%= task.escape("title") %></strong> - <%= task.escape("status") %><br>
		<a href="#/projects/<%=task.escape("project_id")%>"><%= task.escape("project_title") %></a> || 
		<%= task.escape("phase_title") %></strike>
		<br><br>
	<% } else { %>
		<span class="glyphicon glyphicon-pushpin"></span> <strong><%= task.escape("title") %></strong> - <%= task.escape("status") %><br>
		<a href="#/projects/<%=task.escape("project_id")%>"><%= task.escape("project_title") %></a><br>
		- <%= task.escape("phase_title") %><br>
	<% } %>
	
	<button id="editTask" class="btn btn-sm btn-default" data-id=<%= task.id%>><span class="glyphicon glyphicon-pencil"></span></button>
	<button id="deleteTask" class="btn btn-sm btn-default" data-id=<%= task.id%>><span class="glyphicon glyphicon-trash"></span></button><br>

	<div id="task-edit"></div>
	<br>
</div>
