<br>
<li class="task">
	<% if (task.get("status") == "Complete") { %>
		<mark><strike><strong><%= task.escape("title") %></strong><br>
		<strong>status</strong> - <%= task.escape("status") %>, 
		||   <a href="#/projects/<%=task.escape("project_id")%>"><%= task.escape("project_title") %></a>- <%= task.escape("phase_title") %>   ||</strike></mark>
		<br><br>
	<% } else { %>
		<strong><%= task.escape("title") %></strong><br>
		<strong>status</strong> - <%= task.escape("status") %>, 
		||   <a href="#/projects/<%=task.escape("project_id")%>"><%= task.escape("project_title") %></a>- <%= task.escape("phase_title") %>   ||
		<br><br>
	<% } %>
	
	<button class="editTask" data-id=<%= task.id%>>edit task</button>
	<button class="deleteTask" data-id=<%= task.id%>>delete task</button>
</li>