<br>
<li class="task">
	<strong><%= task.escape("title") %></strong> - <%= task.escape("status") %>
	<br>
	<%= member.escape("fname") %> <%= member.escape("lname") %>	
	<br>
	<button class="editTask" data-id=<%= task.id%>>edit task</button>
	<button class="deleteTask" data-id=<%= task.id%>>delete task</button>
	<br>
	<div id="task-edit"></div>
</li>