<br>
<li class="task">
<% if (task.get("status") == "Complete") { %>
	<mark><strike><strong><%= task.escape("title") %></strong><br>
	<%= task.escape("status") %> (<a href="#/members/<%= member.escape("id")%>"><%= member.escape("fname") %> <%= member.escape("lname") %></a>)</mark></strike></strong><br>
<% } else { %>
	<strong><%= task.escape("title") %></strong><br>
	<%= task.escape("status") %> (<a href="#/members/<%= member.escape("id")%>"><%= member.escape("fname") %> <%= member.escape("lname") %></a>)<br>
<% } %>

	<button class="editTask" data-id=<%= task.id%>>edit task</button>
	<button class="deleteTask" data-id=<%= task.id%>>delete task</button>
	<div id="task-edit"></div>
</li>
