<div class="task-item" data-id="<%=task.escape("id")%>">
<% if (task.get("status") == "Complete") { %>
	<span class="glyphicon glyphicon-pushpin"></span>
	<strike><strong><%= task.escape("title") %></strong><br>
	<%= task.escape("status") %> (<a href="#/members/<%= member.escape("id")%>"><%= member.escape("fname") %> <%= member.escape("lname") %></a>)</strike></strong>
<% } else { %>
	<span class="glyphicon glyphicon-pushpin"></span>
	<strong><%= task.escape("title") %></strong><br>
	<%= task.escape("status") %> || <a href="#/members/<%= member.escape("id")%>"><%= member.escape("fname") %> <%= member.escape("lname") %></a>
<% } %>
	<br>
	<button id="editTask" class="btn btn-sm btn-default" data-id=<%= task.id%>><span class="glyphicon glyphicon-pencil"></span></button>
	<button id="deleteTask" class="btn btn-sm btn-default" data-id=<%= task.id%>><span class="glyphicon glyphicon-trash"></span></button>
	<div id="task-edit"></div>

</div>
<br>