<!DOCTYPE html>
<html>
<head>
  <title>p y r a m i d</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

  <nav class

  <header>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <%= link_to "p  y  r  a  m  i  d", root_url, :class => "navbar-brand"%>
      </div>

      <div class="collapse navbar-collapse" id="demo-project-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to "||   about   ||", about_url %>
          <li><%= link_to "||   contact   ||", contact_url %>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <%if current_user%>
            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">||   welcome, team <%=current_user.username%>   ||<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="divider"></li>
                <li><%= link_to "log out", session_url, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "||   sign in   ||", new_session_url %></li>
            <li><%= link_to "||   new to pyramid?   ||", new_user_url %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>

  <%if current_user%>
    <div class="container-fluid">
      <div class="row">
        <div class="col sidebar">
          <ul class="nav nav-sidebar">
            <li class="active">
              <a href="/#">dashboard</a>
            </li>
          </ul>

          <ul class="nav nav-sidebar">    
            <li>
              <a href="/#members">team members</a>
            </li>
          </ul>

          <ul class="nav nav-sidebar">
            <li>
              <a href="/#projects">team projects</a>
            </li>
          </ul>
        </div>
        <div class="col main">

        </div>
      </div>
    </div>
  <% end %>
  

<%= yield %>

</body>
</html>