<!DOCTYPE html>
<html>
<head>
  <title>Team Player App</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>

<body>
	
	  	<% if signed_in? %>
	  		<header id="log_out">
		  		<h2><%= "Welcome, Team " + current_user.username + "!"%>
					<%= button_to "Log out", session_url, { method: :delete } %>
		  		</h2>
	    	</header>
	  	<% else %>
	  		<header id="app_title">
	  		<h1>Team Player App</h1>
	  		</header>

	  		<div class="panel">
        	<br />
        <% end %>
        
        <% if !signed_in? %>
    		<h1>TEAM PLAYER APP IS A BITCHIN' APP</h1>

    		<h2>WHO WE ARE</h2>
    		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent blandit ante sed erat consectetur ultrices. Suspendisse congue sapien in enim pharetra imperdiet. </p>

    		<h2>WHAT WE DO</h2>
    		<p>Curabitur et augue dictum, tempor mauris ut, porttitor odio. Etiam quam dui, laoreet ut quam quis, hendrerit dictum turpis. Fusce nisl felis, dignissim nec ligula ut, pulvinar semper tortor. Donec in lorem non diam malesuada sagittis non et enim. </p>
    	
    		<%= link_to "Sign In Here", new_session_url %><br>
    		<%= link_to "Sign Up Here", new_user_url %><br>

        	</div><p class="slide"><div class="pull-me">ABOUT US</div></p>
        <% end %>
	

<%= yield %>

</body>
</html>